# Игнорировать файлы, создаваемые Unity
/[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Игнорировать файлы, создаваемые Visual Studio
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Игнорировать файлы, создаваемые JetBrains Rider
.idea/
*.iml

# Игнорировать файлы, создаваемые системой
.DS_Store
Thumbs.db

# Игнорировать файлы сборки
*.apk
*.aab
*.unitypackage
*.app
